<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Shugo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@shugo_tokyo" />
  <meta property="og:url" content="https://shugo-tokyo.com" />
  <meta property="og:title" content="酒GO" />
  <meta property="og:description" content="飲み物から探せる居酒屋マッピングサービス" />
  <meta property="og:image" content="https://shugo-tokyo.com/shugo.png" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</head>

<body>
  <%= yield %>
</body>

</html>
